* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Kyobo Handwriting 2020'; */
    cursor: default;
    background-color:#f9f6fa;
  }

#JoinBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    background-color: red;
}

#JoinBoxForm {
    display: flex;
    flex-direction: column;
}

#JoinBoxForm > div {
    width: 10px;
    display: inline-block;
    background-color: blue;
}